In [1]:
import sys
import  requests
import pandas as pd 
from io import StringIO 
from requests.models import  Response
from pandas import json_normalize
from typing import  NoReturn,Tuple,Optional,Union

In [7]:
def get_request(api):
    r = requests.get(api)
    response_status = r.status_code
    if (r.ok) :
        return r

In [160]:
api =  "https://api.mocki.io/v1/fa10712b"
complex_json = "https://data.go.th/dataset/751498ae-18ee-4146-a111-f1d58340dbf0/resource/9c971d30-413c-4a65-a5e6-307b90db6be7/download/daycare.json"
json_placehoder = "https://jsonplaceholder.typicode.com/users"
u_json ="https://data.go.th/dataset/84954e4a-3302-4b05-9dfc-c636f30b62ab/resource/31ddd8a7-c99a-43eb-8c2e-9644ddb1608b/download/university.json"
r = get_request(u_json)
# print(r.json())

In [161]:
columns  =  []
df =  json_normalize(r.json())
df

,type,totalFeatures,features,crs.type,crs.properties.name
0,FeatureCollection,61,"[{'type': 'Feature', 'id': 'university.1', 'ge...",name,urn:ogc:def:crs:EPSG::32647

In [207]:
def get_columns(df):
    columns=list()
    for column_name in df.columns :
        d_type =  df[column_name].dtype
        first_row = df[column_name][0] # first-row
        if d_type == list :
            if (type(first_row)  == list) : 
                if (len(first_row) and  (type(first_row[0]) in [list, object,dict])) :
                    prefix = column_name+"."
                    new_df = json_normalize(first_row)
                    somethings = [ {**s, "field" : prefix+s["field"]} for s in get_columns(new_df)]
                    columns +=   (somethings)
                    
                    continue
        column_data = {
            "field" : column_name,
            "type" : type(first_row),
            "primary_key" : False ,
            "example_data" :  first_row,
            "description" : ""
        }
        columns.append(column_data)
    return columns
            
columns = get_columns(df)

columns

[{'name': 'type', 'example_data': 'FeatureCollection', 'type': str},
 {'name': 'totalFeatures', 'example_data': 61, 'type': numpy.int64},
 {'name': 'features.type', 'example_data': 'Feature', 'type': str},
 {'name': 'features.id', 'example_data': 'university.1', 'type': str},
 {'name': 'features.geometry_name', 'example_data': 'the_geom', 'type': str},
 {'name': 'features.geometry.type', 'example_data': 'Point', 'type': str},
 {'name': 'features.geometry.coordinates',
  'example_data': [664971.2674644969, 1520376.8157974307],
  'type': list},
 {'name': 'features.properties.name',
  'example_data': 'สถาบันเทคโนโลยีปทุมวัน',
  'type': str},
 {'name': 'features.properties.dcode', 'example_data': '1007', 'type': str},
 {'name': 'features.properties.type', 'example_data': '1', 'type': str},
 {'name': 'features.properties.address',
  'example_data': '833 ถ.พระราม 1  เขตปทุมวัน กรุงเทพฯ 10330',
  'type': str},
 {'name': 'features.properties.tel',
  'example_data': '0 2219 3833-38',
  'type': str},
 {'name': 'features.properties.fax',
  'example_data': '0 2219 3872',
  'type': str},
 {'name': 'features.properties.web',
  'example_data': 'www.ptwit.ac.th',
  'type': str},
 {'name': 'crs.type', 'example_data': 'name', 'type': str},
 {'name': 'crs.properties.name',
  'example_data': 'urn:ogc:def:crs:EPSG::32647',
  'type': str}]