In [1]:
import sys
import  requests
import pandas as pd 
from io import StringIO 
from requests.models import  Response
from pandas import json_normalize
from typing import  NoReturn,Tuple,Optional,Union

In [7]:
def get_request(api):
    r = requests.get(api)
    response_status = r.status_code
    if (r.ok) :
        return r

In [210]:
api =  "https://api.mocki.io/v1/fa10712b"
complex_json = "https://data.go.th/dataset/751498ae-18ee-4146-a111-f1d58340dbf0/resource/9c971d30-413c-4a65-a5e6-307b90db6be7/download/daycare.json"
json_placehoder = "https://jsonplaceholder.typicode.com/users"
u_json ="https://data.go.th/dataset/84954e4a-3302-4b05-9dfc-c636f30b62ab/resource/31ddd8a7-c99a-43eb-8c2e-9644ddb1608b/download/university.json"
tanrabad = "https://api.tanrabad.org/wapi-v1/patient/tambon?start_week=01&start_year=2020&end_week=53&end_year=2020&disease_class=1&fbclid=IwAR2kOSLfRDWhAvkoY3KBXQB2Y7IjJa1XD0Oab3UA2ZyuAnZd-A8k2fVsDPc"
api = tanrabad
r = get_request(api)
# print(r.json())

In [211]:
columns  =  []
df =  json_normalize(r.json())
df

     area_code                                    center   sum
0       100101  POINT(100.492181256902 13.7512273777728)     2
1       100102  POINT(100.499045902295 13.7439780295119)     5
2       100103  POINT(100.499125113254 13.7499409261305)     2
3       100104  POINT(100.503367008007 13.7511109286322)     1
4       100105  POINT(100.497057595133 13.7539668666124)  None
...        ...                                       ...   ...
7420    961203  POINT(101.758205244364 6.11326410254142)     3
7421    961204  POINT(101.576187770107 6.00448112596986)     8
7422    961301  POINT(101.818003560442 6.25720565054593)    15
7423    961302  POINT(101.827917959554 6.18315090479214)    11
7424    961303  POINT(101.877590853298 6.25329140647002)     3

[7425 rows x 3 columns]

In [212]:
def get_columns(df):
    columns=list()
    for column_name in df.columns :
        d_type =  df[column_name].dtype
        first_row = df[column_name][0] # first-row
        if d_type == list :
            if (type(first_row)  == list) : 
                if (len(first_row) and  (type(first_row[0]) in [list, object,dict])) :
                    prefix = column_name+"."
                    new_df = json_normalize(first_row)
                    somethings = [ {**s, "field" : prefix+s["field"]} for s in get_columns(new_df)]
                    columns +=   (somethings)
                    
                    continue
        column_data = {
            "field" : column_name,
            "type" : type(first_row),
            "primary_key" : False ,
            "example_data" :  first_row,
            "description" : ""
        }
        columns.append(column_data)
    return columns
            
columns = get_columns(df)

columns

[{'field': 'area_code',
  'type': str,
  'primary_key': False,
  'example_data': '100101',
  'description': ''},
 {'field': 'center',
  'type': str,
  'primary_key': False,
  'example_data': 'POINT(100.492181256902 13.7512273777728)',
  'description': ''},
 {'field': 'sum',
  'type': str,
  'primary_key': False,
  'example_data': '2',
  'description': ''}]